# table filter {

    # Allow OpenVPN UDP traffic on port 1194
    # https://community.hetzner.com/tutorials/install-and-configure-openvpn-on-ubuntu-and-debian
    # https://www.linode.com/docs/networking/vpn/tunnel-your-internet-traffic-through-an-openvpn-server/ - not used for FORWARD

    chain INPUT {
        interface $intf_main daddr $ipv4_address {
            proto udp dport 1194 mod state state (NEW ESTABLISHED) ACCEPT;
        }

        interface tun0 ACCEPT;
    }

{#    chain FORWARD {#}
{#        interface tun0 ACCEPT;#}
{##}
{#        # Allow forwarding traffic only from the VPN.#}
{#        outerface $intf_main daddr $ipv4_address {#}
{#            interface tun0 saddr {{ openvpn_interface }}/24 ACCEPT;#}
{#        }#}
{##}
{#        mod state state (ESTABLISHED RELATED) ACCEPT;#}
{#    }#}
    chain FORWARD {

        # Allow forwarding traffic only from the VPN.
        interface tun0 saddr {{ openvpn_interface }}/24 {
            #outerface $intf_main daddr $ipv4_address mod state state (ESTABLISHED RELATED) ACCEPT;
            outerface $intf_main mod state state (NEW ESTABLISHED RELATED) ACCEPT;
        }
    }

    chain OUTPUT {
        outerface $intf_main saddr $ipv4_address {
            proto udp sport 1194 mod state state (ESTABLISHED) ACCEPT;
        }

        outerface tun0 ACCEPT;
    }
# }