# table filter {

    # Allow HTTP/S on public IP.
    # https://www.linode.com/docs/networking/vpn/tunnel-your-internet-traffic-through-an-openvpn-server/

    chain INPUT interface $intf_main {
        daddr $ipv4_address {
            proto tcp sport (http https) mod state state (NEW ESTABLISHED) ACCEPT;
        }
    }
    chain OUTPUT outerface $intf_main {
        saddr $ipv4_address {
            proto tcp dport (http https) mod state state (NEW ESTABLISHED) ACCEPT;
        }
    }
# }

